/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.static-navbar {
    top: 0;
    width: 100%;
    margin: 20px;
    display: flex;
    

}

.nav-items {
    width: 100%;
    margin: 40px;
    margin-bottom: -20px;
    position: relative;
    left: -70px;
    display: flex;
    justify-content: space-evenly;
    justify-content: space-between;
    
}

.logo {
    position: relative;
    top: -20px;
    left: 30px; 

}

.nav-link {
    text-decoration: none;
    
}

 

.jumbo-logo {
    margin: 20px 0 5px;
}


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    width: 100%;
}



.top-content .text-container {
    width: 48%;
    margin-top: 30px;
    padding: 0 1%;
    padding-bottom: 20px;
    position: relative;
    
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    /*background: black;*/
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background: teal;
}

.box2 {
    background: rgb(230, 202, 49);
}

.box3 {
    background: lightseagreen;
}

.box4 {
    background: salmon;
}


.box5 {
    background: red;
}

.box6 {
    background: green;
}

.box7 {
    background: purple;
}

.box8 {
    background: magenta;
}

.box9 {
    background: rgb(36, 2, 36)
}

.box10 {
    background: rgb(58, 112, 212)
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}



.about-blurb {
    
    width: 100%;
    padding: 0 10px 50px;
    
}
 /* For Tablet */
@media (max-width: 800) {
    .about-blurb p {
        font-size: 0.10rem; 
    }
}
/* For Mobile */
@media (max-width: 500) {
    .about-blurb p {
        font-size: .5em; 
        
    }
}

.about-blurb h4 {
    margin: 10px;
    position: relative;
    left: -10px;

}



.divider {
    border-bottom: 1px dashed black;
    width: 810px;
    margin: 20px;
    margin-bottom: -40px;
    position: relative;
    left: -30px;
}



.about-middle-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.middle-boxes {
    
    padding: 15px;
    width: 47%;
    margin: 10px;
    border-bottom: 1px dashed black;
}



.about-middle-content h2 {
  
  margin: 10px 0px 0px;
  margin-bottom: 20px;
}



.about-middle-content p {
  margin-bottom: 20px;
}




.about-buttons {
 font-size: 15px;
 padding: 5px 20px;
 
}


.work-together {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    left: 15px;

}


.work-together p {
    margin-top: 10px;
}

/* For Tablet */
@media (max-width: 800) {
    .work-together p {
        font-size: 0.10rem; 
    }
}

/* For mobile */
@media (max-width: 500) {
    .work-together p {
        font-size: 0.10rem; 
    }
}

footer {
    width: 100%;
    background: black;
}




footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}



footer nav a {
    color: white;
    text-decoration: none;
}


/*  Contact Page Styling  */

.contact-wrapper {
     
    border: 1px solid black; 
    background-color: rgb(245, 245, 226);
    margin-top: 5.5rem; 

}



.contact-div {
 border: 1px solid black;
 width: 70%;
 margin: 3rem auto;
 padding: 2rem;
 background-size: 199px  299px;
 background-color: rgb(228, 228, 225); 
 
} 
  



.contact-tle {
font-size: 1.9rem;
font-weight: bolder;
width: 100%;
padding-bottom: 1rem; 
padding-top: .5rem;
color: black;
border-bottom: 1px solid black;


     
}


.contact-blurb {
margin-bottom: 3rem;
margin-top: 2rem;
font-size: 1.4rem;
text-align: center;
color: black;


}


input[type=text] , select, textarea {
 width: 95%;
 padding: 5px;
 border-radius: 5px;
 margin-bottom: 3rem;
 margin-top: .5rem;
 margin-left: -10px;

}


input[type=contact-email] , select, textarea {
 width: 95%;
 padding: 5px;
 border-radius: 5px;
 margin-bottom: 3rem;
 margin-left: -10px;

}



label[for=name] {
 color: black;
 margin-left: -10px;
}
 

 
 
label[for=email_address] {
 color: black;
 margin-left: -8px;

 }



label[for=message] {
 color: black;
 margin-left: -10px;

 }


input[type=submit] {
 font-size: 1rem;
 border-color: black;
 border-radius: .3rem;
 background-color: rgb(233, 151, 151);

 }



#message {
 height: 200px;
}

